<div id="contact">
    <h2>Contacteme</h2>
    <div id="contact-form">
        <form method="POST" action="https://formspree.io/email@email.com">
            <input type="hidden" name="_subject" value="Contact request from personal website" />
            <input type="email" name="_replyto" placeholder="Su e-mail" required>
            <textarea name="message" placeholder="Escriba un mensaje" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <!-- End #contact-form -->
</div>
