<div id="education">
    <h2 class="heading">Educacion</h2>
    <div class="education-block">
        <h3>Instituto Fray Mamerto Esquiu</h3>
        <span class="education-date">Mar 2014 - Dic 2019</span>
        <h4>Bachillerato en Informatica</h4>
        <p>
            Educacion secundaria donde obtuve el titulo de bachiller en informatica.
        </p>
    </div>
    <!-- End .education-block -->

    <div class="education-block">
        <h3>Universidad Nacional de Cordoba</h3>
        <span class="education-date">Feb 2022 - Mar 2022</span>
        <h4>Tecnico en sistemas de seguridad</h4>
        <p>
            curso por el que me puedo desempeñar como
             tecnico instalador de sistemas de seguridad brindado por la UTN
        </p>
    </div>
