<div id="projects" class="background-alt">
    <h2 class="heading">Proyectos</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/Imagenes/project.jpg" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Sports store</h3>
                    <p>
                        proyecto realizado durante el bachillerato, el cual representa una posible tienda de elementos e indumentaria deportivos.
                    </p>
                    <a href="https://drive.google.com/drive/folders/156Zv_5BUQS2vGN3FYOxXfzPZSw2PjPoR">Ver proyecto</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/Imagenes/project1.jpg" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Rincon Racing</h3>
                    <p>
                        Proyecto de diseño web presentado en el bachillerato, implementando HTML, CSS y JavaScript.
                    </p>
                    <a href="https://drive.google.com/drive/folders/1_owoAXibftqtUegffhrTTS9DTj_BnHLf">ver proyecto</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

        </div>
    </div>
</div>
