<div id="experience" class="background-alt">
    <h2 class="heading">Experiencia</h2>
    <div id="experience-timeline"> 
        <div class="vtimeline-piont">
            <div class="vtimeline-icon">
                <i class="fa fa-map-marker">
                </i>
            </div>
            <div class="vtimeline-block">
                <span class="vtimeline-date">
                    Mayo 2020 - Febrero 2021
                </span>
                <div data-date="Mayo 2020 - Febrero 2021" class="vtimeline-content">
                    <h3>Mecanica Integral</h3>
                        <h4>Mecanico Automotriz</h4>
                        <p>
                            Realize trabajo de mecanico integral del automovil, aplicandome a la reparacion de trenes rodantes, suspension,
                            transmisison, inyeccion, frenos y reparacion de motores. 
                        </p>
                </div>
            </div>
        </div>

        <div class="vtimeline-piont">
            <div class="vtimeline-icon">
                <i class="fa fa-map-marker">
                </i>
            </div>
            <div class="vtimeline-block">
                <span class="vtimeline-date">
                    Marzo 2021 - Marzo 2022
                </span>
                <div data-date="Marzo 2021 - Marzo 2022" class="vtimeline-content">
                    <h3>MAC</h3>
                    <h4>tecnico de sistemas de seguridad y CCTV</h4>
                    <p>
                        Me desempeñe como instalador de sistemas de seguridad, haciendo instalacion, mantenimiento y programacion de estos circuitos,
                        tambien realize trabajos de instalacion de camaras y DVR, ademas de programacion sobre modems y repetidores de alto alcance. 
                    </p>
                </div>
            </div>
        </div>
</div>
