<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">Sobre mi</h2>
            </div>
            <div class="col-md-8">
                <p>
                   Soy Nicolas Rincon, bachiller en informatica y actualmente estudiante del proyecto Argentina programa.
                   cuento con habilidad de aprendizaje rapido y buena predisposicion para el trabajo en equipo, tambien tengo conocimiento en el uso
                   de herramientas de diseño grafico y de audio como: photoshop, ilustrator, camtasia, corel, audacity y FL.
                </p>
            </div>
        </div>
    </div>
</div>
