<div id="mobile-menu-open" class="shadow-large">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>

<header>
    <div id="mobile-menu-close">
        <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <ul id="menu" class="shadow">
        <li class="items" routerLink="Inicio">
            inicio
        </li>
        <li class="items" routerLink="Sobremi">
            Sobre mi
        </li>
        <li class="items" routerLink="Experiencia">
            Experiencia
        </li>
        <li class="items" routerLink="Educacion">
            Educacion
        </li>
        <li class="items" routerLink="Proyectos">
            Proyectos
        </li>
        <li class="items" routerLink="Lenguajes">
            Lenguajes vistos
        </li>
        <li class="items" routerLink="Contacto">
            Contacto
        </li>
    </ul>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/scripts.min.js"></script>